@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_landing\.scss}line{font-family:\000031}}
.hero-content {
  background-color: #2F1D57;
  padding: 100px 0;
  background: #2F1D57; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_landing\.scss}line{font-family:\000036}}
  .hero-content h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_landing\.scss}line{font-family:\0000313}}
.selling-points {
  padding: 100px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_landing\.scss}line{font-family:\0000317}}
  .selling-points .point h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    height: 85px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_landing\.scss}line{font-family:\0000325}}
  .selling-points .point p {
    font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\000031}}
.album-header-container {
  margin-top: 55px;
  margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\000035}}
  .album-header-container .album-header-information {
    margin-top: 45px;
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\000039}}
    .album-header-container .album-header-information h3, .album-header-container .album-header-information h4, .album-header-container .album-header-information h5 {
      line-height: 150%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000313}}
    .album-header-container .album-header-information h3 {
      font-size: 48px;
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000318}}
    .album-header-container .album-header-information h4 {
      font-size: 24px;
      font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000323}}
    .album-header-container .album-header-information h5 {
      font-size: 16px;
      font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000330}}
table {
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000333}}
  table td {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000338}}
  table .album-song-button {
    text-align: center;
    font-size: 14px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 28px;
    height: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000348}}
    table .album-song-button:hover {
      cursor: pointer;
      color: white;
      background-color: #d2287b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000354}}
    table .album-song-button i {
      line-height: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000358}}
    table .album-song-button .fa-play {
      padding-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000363}}
  table .album-song-listening td {
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_album\.scss}line{font-family:\0000367}}
  table td.song-number {
    padding: 0;
    height: 70px;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\000031}}
.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\000035}}
  .collection-album-container .caption {
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\000038}}
    .collection-album-container .caption p {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000313}}
      .collection-album-container .caption p a {
        color: rgba(255, 255, 255, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000316}}
      .collection-album-container .caption p a.album-name {
        color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000322}}
  .collection-album-container img {
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000326}}
  .collection-album-container .collection-album-image-container {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000330}}
  .collection-album-container .collection-album-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000340}}
  .collection-album-container .collection-overlay-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000347}}
  .collection-album-container .collection-overlay-button {
    font-size: 20px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 42px;
    height: 42px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000356}}
    .collection-album-container .collection-overlay-button:hover {
      cursor: pointer;
      color: white;
      background-color: #d2287b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000361}}
    .collection-album-container .collection-overlay-button i {
      line-height: 42px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_collection\.scss}line{font-family:\0000364}}
    .collection-album-container .collection-overlay-button .fa-play {
      padding-left: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\000031}}
.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000315}}
  .player-bar a, .player-bar a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000321}}
  .player-bar .container {
    display: table;
    padding: 0;
    min-height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000327}}
  .player-bar .left-controls {
    width: 25%;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000332}}
  .player-bar .right-controls {
    width: 25%;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000338}}
  .player-bar .play-controls a {
    font-size: 20px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000343}}
  .player-bar .play-controls .previous {
    margin-right: 65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000347}}
  .player-bar .play-controls .play-pause {
    margin-right: 60px;
    font-size: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000353}}
  .player-bar .currently-playing {
    width: 50%;
    text-align: center;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000358}}
    .player-bar .currently-playing .song-name, .player-bar .currently-playing .artist-name {
      text-align: center;
      margin: 0;
      position: absolute;
      width: 100%;
      font-size: 16px;
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000366}}
    .player-bar .currently-playing .song-name {
      top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000369}}
    .player-bar .currently-playing .artist-name {
      bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000374}}
  .player-bar .queue-toggle {
    display: inline-block;
    margin-left: 75px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000378}}
    .player-bar .queue-toggle i {
      font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000383}}
  .player-bar .volume {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000386}}
    .player-bar .volume i {
      width: 40px;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\0000393}}
    .player-bar .volume .seek-bar {
      display: inline-block;
      width: 100px;
      vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003101}}
.player-bar-control-group {
  display: table-cell;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003106}}
.seek-control {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003109}}
  .seek-control .current-time {
    position: absolute;
    top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003113}}
  .seek-control .total-time {
    position: absolute;
    right: 0;
    top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003120}}
.seek-bar {
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  position: relative;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003127}}
  .seek-bar .fill {
    background: white;
    width: 36%;
    height: 5px;
    border-radius: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003134}}
  .seek-bar .thumb {
    position: absolute;
    height: 10px;
    width: 10px;
    background: white;
    left: 36%;
    margin-left: -5px;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 100ms ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003149}}
  .seek-bar.no-animate .fill, .seek-bar.no-animate .thumb {
    transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_player_bar\.scss}line{font-family:\00003154}}
  .seek-bar:hover .thumb {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_buttons\.scss}line{font-family:\000031}}
.default-button {
  background-color: #D2287B;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_buttons\.scss}line{font-family:\0000312}}
  .default-button:active {
    background-color: #9B1D64;
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_buttons\.scss}line{font-family:\0000317}}
  .default-button:disabled {
    background-color: #B3B3B3;
    cursor: not-allowed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\000033}}
.user-profile-header {
  border: none;
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\000039}}
.user-image-container {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000314}}
.tab-content.user-subscription .well {
  background: transparent;
  border: #D2287B 2px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000319}}
.tab-content.user-subscription .subsection-label {
  margin-bottom: 15px;
  font-size: 24px;
  color: white;
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000327}}
.tab-content.user-subscription .table.credit-card-list td {
  border-top-color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000333}}
.tab-content.user-subscription .fa-minus-circle {
  color: #D2287B; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000338}}
.user-profile-tabs-container {
  margin: 42px auto 20px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000342}}
  .user-profile-tabs-container .pagination.profile-pagination {
    font-weight: 700;
    border: #D2287B 2px solid;
    border-radius: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000347}}
    .user-profile-tabs-container .pagination.profile-pagination > li > a {
      border: none;
      background-color: transparent;
      color: white;
      letter-spacing: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000354}}
    .user-profile-tabs-container .pagination.profile-pagination > .active > a {
      background-color: #D2287B;
      border-radius: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000363}}
.default-form label {
  font-weight: 300;
  font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000367}}
.default-form input {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0;
  border: none;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 12px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000377}}
.no-left-gutter {
  padding-left: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/CCatherine\/bloc-vagrant\/bloc-jams\/app\/stylesheets\/_profile\.scss}line{font-family:\0000381}}
.no-right-gutter {
  padding-right: 0px; }

@media -sass-debug-info{filename{}line{font-family:\0000313}}
html {
  height: 100%; }

@media -sass-debug-info{filename{}line{font-family:\0000317}}
body {
  background: -webkit-radial-gradient(#2b1339, #380c77);
  background: radial-gradient(#2b1339, #380c77);
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  padding-bottom: 150px; }

@media -sass-debug-info{filename{}line{font-family:\0000329}}
body.landing {
  background: #5B5579;
  padding-bottom: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000336}}
body.landing .navbar {
  margin-bottom: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000340}}
.player-header-nav {
  background-color: rgba(123, 70, 163, 0.9); }
@media -sass-debug-info{filename{}line{font-family:\0000344}}
  .player-header-nav .navbar-nav a {
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2; }
@media -sass-debug-info{filename{}line{font-family:\0000351}}
    .player-header-nav .navbar-nav a:hover {
      color: rgba(123, 70, 163, 0.9); }


/*# sourceMappingURL=app.css.map*/