.hero-content {
  background-color: #2F1D57;
  padding: 100px 0;
  background: #2F1D57;

  h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300;
  }
}

.selling-points {
  opacity: 0;
  padding: 100px 0; 

  .point {
    h5 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      height: 85px;
    }
    
    p {
      font-size: 16px;
    }
  }
}


.card-container {
  height: 400px;
  -webkit-perspective: 600;
  perspective: 600;
  position: relative;
  width: 390px;
}
.card {
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  -webkit-transition: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .side {
  //-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: rgba(255,255,255,0.6);
  color: #2F1D57;
  text-align: center;
  padding-top: 2em;

  h2 {
    margin-bottom: 1em;
  }
}


