@media screen and (max-width: 768px) {

  /* landing page, global styles */
  .player-header-nav.navbar {
    img {
      float: left;
      margin: 1.5em 0 0 2em;
    }

    #mobileNav {
      margin: 1.75em 2em 0 0;
    }

    .glyphicon {
      font-size: 1.5em;
    }

    li {
      text-align: center;
      margin-bottom: 1em;
    }

    .btn-primary {
      background-color: rgba(123, 70, 163, .9);
      border: solid 0.15em #fff; 
    }

    #mobileNavCollapsed {
      clear: both;
      font-size: 1.25em;
    }

    .nohover:hover {
      text-decoration: none;
      color: #fff;
    }

    a {
      line-height: 45px;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2;
    }
  }

  .hero-content {
    h1, h3 {
      text-align: center;
    }
  }

  .selling-points {
    padding: 0;
    .point {
      padding: 1.25em 0.75em;
      h5 {
        height: 1em;
      }
      p {
        text-align: center;
        font-size: 1.25em;
        padding: 0.25em;
      }
    }
  }

  .landing-album-list {
    .album-cover {
      // width: 280px;
      // height: 280px;
      position: relative;
      //left: calc(50% - 200px);
    }
  }

/* collection view */
  

  .collection-overlay-button {
    font-size: 35px !important;
    width: 62px !important;
    height: 62px !important;

    i {
      line-height: 62px !important;
    }
  }


  .collection-album-info {
    padding: 0.5em 0 0 1.75em;
  }

/* player bar */
  .player-bar {
    height: 15em !important;
    background: #5C3989 !important;

    .container {
      display: block !important;

    }
    .left-controls {
      display: inline-block !important;
      width: 80% !important;

    }

    .currently-playing {
      display: block !important;
      position: relative !important;
      top: 8em;
      margin-left: 16%;
      width: 70% !important;
    }
      
    .play-controls {
        display: table !important;
        margin-left: 22%;
        position: relative !important;
        top: 2em;
      
      .previous, .play-pause, .next {
        display: table-cell;
        width: 25% !important;
        vertical-align: middle;
      }
    }
  }
/* album view */

  .album-header-container {
    position: relative;
    left: calc(50% - 180px);
  }
}