.player-bar {
  $control_width: 25%;
  $player_fontsize_reg: 20px;
  $player_fontsize_lg: 30px;
  $player_fontsize_sm: 16px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100;

  a, a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .container {
    display: table;
    padding: 0;
    min-height: 100%;
  }

  .left-controls {
    width: $control_width;
    text-align: left;
  }

  .right-controls {
    width: $control_width;
    text-align: right;
  }

  .play-controls {
    a {
      font-size: $player_fontsize_reg;
      vertical-align: middle;
    }

    .previous {
      margin-right: 65px;
    }

    .play-pause {
      margin-right: 60px;
      font-size: $player_fontsize_lg;
    }
  }

  .currently-playing {
    width: 50%;
    text-align: center;
    position: relative;

    .song-name, .artist-name {
      text-align: center;
      margin: 0;
      position: absolute;
      width: 100%;
      font-size: $player_fontsize_sm;
      font-weight: 300;
    }
    .song-name {
      top: 20px;
    }
    .artist-name {
      bottom: 20px;
    }
  }

  .queue-toggle {
    display: inline-block;
    margin-left: 75px;

    i {
      font-size: $player_fontsize_reg;
    }
  }

  .volume {
    display: inline-block;

    i {
      width: 20px;
      font-size: $player_fontsize_reg;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }

    .slider {
      display: inline-block;
      width: 100px;
      vertical-align: middle;
    }
  }


  .player-bar-control-group {
    display: table-cell;
    vertical-align: middle;
  }

  .seek-control {
    position: relative;

    .current-time {
      position: absolute;
      top: 10px;
    }
    .total-time {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

  .slider {
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    position: relative;
    cursor: pointer;

    .fill {
      background: white;
      width: 36%;
      height: 5px;
      border-radius: 2px;
    }

    .thumb {
      position: absolute;
      height: 10px;
      width: 10px;
      background: white;
      left: 36%;
      margin-left: -5px;
      top: 50%;
      margin-top: -5px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 100ms ease-in-out;
    }

    &:active {
      .fill, .thumb {
        transition: none;
      }
    }

    &:hover .thumb, &:active .thumb {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
    }

  }

}